@model List<MeyawoPortfolio.Models.TblContact>

@foreach (var item in Model)
{
    <section class="section" id="contact">
        <div class="container text-center">
            <p class="section-subtitle">Benimle Nasıl İletişime Geçersin?</p>
            <h6 class="section-title mb-5">Benimle İletişime Geç</h6>
            <!-- contact form -->
            <form action="" class="contact-form col-md-10 col-lg-8 m-auto">
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <input type="@item.NameSurname" size="50" class="form-control" placeholder="Ad Soyad" required>
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="@item.Email" class="form-control" placeholder="Email" requried>
                    </div>
                    <div class="form-group col-sm-12">
                        <textarea name="@item.Message" id="comment" rows="6" class="form-control"
                                  placeholder="Bir şeyler yaz"></textarea>
                    </div>
                    <div class="form-group col-sm-12 mt-3">
                        <input type="submit" value="Mesajı Gönder" class="btn btn-outline-primary rounded">
                    </div>
                </div>
            </form><!-- end of contact form -->
        </div><!-- end of container -->
    </section>
}

<button id="scrollTopBtn"
        onclick="scrollTopFunction()">
<img src="~/Templates/meyawo-1.0.0/assets/imgs/yukarıok.png" /></button>
