
@{
    Layout = null;
}

<div class="container">
    <div class="row mt-5">
        <div class="col">
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#myModal"></button>
            <div class="modal fade" tabindex="-1" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Cv Projesi</h5>
                            <button type="button" class="btn-close" data-bs-dissmiss="modal" aria-label="Kapat"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="myModal"
     aria-labelledby="ExitLabel" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ExitLabel">İşlem Bilgisi</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Kapat"></button>
            </div>
            <div class="modal-body">
                <p>Çıkış yapmak istediğinize emin misiniz?</p>
                <img src="img/288381.jpg" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    İptal
                </button>
                </div>
            </div>
        </div>
    </div>
