@model MeyawoPortfolio.Models.TblCategory
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}


<h2>Yeni Kategori Girişi</h2>
<form method="post">
    <label>Proje Başlığı</label>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "table table-bordered" })
    <br />
    @*<label>Proje Görsel Linki</label>
    @Html.TextBoxFor(x => x.ImageURL, new { @class = "table table-bordered" })
    <br />
    <label>Github Linki</label>
    @Html.TextBoxFor(x => x.ProjectURL, new { @class = "table table-bordered" })
    <br />
    <label>Proje Kategorisi</label>
    @Html.TextBoxFor(x => x.ProjectCategory, new { @class = "table table-bordered" })
    <br />
    <label>Açıklama</label>
<textarea rows="5" class="table table-bordered" name="Description"></textarea>
    <br />*@
    <button class="btn btn-info">Kategoriyi Kaydet</button>
</form>

